# Prevent updating config remotely:
# git update-index --assume-unchanged server/shared/config.js

# Build or install these files yourself. See readme.md
node_modules
dist
www/index.html
client/vendor
