* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    background: -moz-linear-gradient(top, #3a8296, #5d9bba);
    background: -webkit-linear-gradient(top, #3a8296, #5d9bba);
    background: -o-linear-gradient(top, #3a8296, #5d9bba);
    background: -ms-linear-gradient(top, #3a8296, #5d9bba);
    background: linear-gradient(top, #3a8296, #5d9bba);
}

body {
    background: url('../img/pattern.png') repeat 0 0;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .15);
}

input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: default;
    cursor: none;
    border: none;
}